{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Livros</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Biblioteca</h1>
        </nav>
    </header>
    <main class="main">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="dados-add-book">
                <div class="imagem-add-book">
                    <label for="file-input" class="custom-file-input">Escolher Livro</label>
                    <input type="file" id="file-input" name="imagem" onchange="displayFileName(this)">
                    <span id="file-name">Nenhum arquivo selecionado</span>
                   
                </div>
                <div class="inputs-add-book">
                    <input type="text" name="name" placeholder="Nome">
                    <input type="text" name="author" placeholder="Autor">
                    <input type="text" name="qtd" placeholder="Quantidade">
                    <input type="text" name="pages" placeholder="Número de Páginas">
                </div>
                <select name="gender" id="">
                    {% for gender in genders %}
                        <option value="{{ gender.id }}">{{ gender.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="buttons-add-book">
                <button type="submit">Salvar</button>
                <button type="submit" formaction="{% url 'home' %}">Voltar</button>    
            </div>
        </form>
    </main>
    <footer class="footer">
        <p>Created by Bruna Fernandes</p>
    </footer>

    <script>
        function displayFileName(input) {
            const fileNameElement = document.getElementById("file-name");
            if (input.files.length > 0) {
                fileNameElement.textContent = input.files[0].name;
            } else {
                fileNameElement.textContent = "Nenhum arquivo selecionado";
            }
        }
    </script>
</body>
</html>
